body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Impede que a barra de rolagem horizontal apareça */
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat a todo o documento */
}

h1, h2, h3, h4, h5, h6, p, a, div {
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat aos elementos principais */
}

#pinContainer {
    width: 100%;
    height: 100vh; /* Corrigido para garantir que o contêiner seja do tamanho da tela */
    overflow: hidden; /* Garante que nenhum conteúdo de dentro estoure o contêiner */
    perspective: 1000px;
}

#slideContainer {
    width: 400%; /* para conter 4 painéis, cada um com 100% da largura da janela */
    height: 100%;
    display: flex; /* Configurado para flex para alinhamento horizontal */
    overflow: hidden; /* Previne que conteúdo dentro do slideContainer cause rolagem extra */
}

.panel {
    height: 100vh; /* Certificando-se de que cada painel tenha altura da tela */
    width: 25%; /* relativo ao pai -> 25% de 400% = 100% da largura da janela */
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px; /* Adicionando espaçamento interno para o texto */
    position: relative; /* Necessário para o posicionamento absoluto da logo */
}

.panel h2 {
    font-size: 2em; /* Tamanho do título */
    margin-bottom: 20px; /* Espaço abaixo do título */
    color: white; /* Cor do título */
    text-align: center; /* Centralizar o título */
}

.panel p {
    font-size: 1.45em; /* Ajustando o tamanho da fonte para um texto mais longo */
    color: white;
    text-align: justify; /* Justificar o texto para uma melhor legibilidade */
    max-width: 800px; /* Define a largura máxima do texto */
    margin: 10px auto; /* Centraliza o conteúdo dentro do painel */
    text-indent: 2em; 
}

.logo {
    position: absolute; /* Fixa a logo no canto superior direito */
    top: 10px; /* Distância do topo */
    right: 20px; /* Distância da direita */
    max-width: 150px; /* Limita a largura máxima da logo */
    z-index: 1000; /* Garante que a logo fique acima de outros elementos */
}

.turqoise h2, .turqoise p {
    color: black; /* Aplica a cor preta ao título e aos parágrafos */
}

.green h2, .green p {
    color: black; /* Aplica a cor preta ao título e aos parágrafos */
}

.bordeaux h2, .bordeaux p {
    color: black; /* Aplica a cor preta ao título e aos parágrafos */
}

.blue { background-color: #006eb3; padding: 0; }
.turqoise { background-color: #e8e9e9;}
.green { background-color: #f5f7fa; }
.bordeaux { background-color: #ffffff; }

#map {
    width: 100%;
    height: 500px;
    max-width: 1200px; /* Defina um valor máximo para a largura do mapa */
}

#tree {
    position: relative;
    width: 100%;
    height: 500px;
    max-width: 1200px; /* Defina um valor máximo para a largura do mapa */
}


.node {
    position: absolute;
    border: 1px solid #fff;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
    color: white;
}

.node-label {
    padding: 2px;
}


#redirect-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#redirect-button button {
    padding: 15px 30px;
    font-size: 1.2em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#redirect-button button:hover {
    background-color: #0056b3;
}
